[submodule "src/async_stream/open-simulation-interface"]
	path = src/async_stream/open-simulation-interface
	url = https://github.com/OpenSimulationInterface/open-simulation-interface.git
[submodule "src/autoware_ai_messages"]
	path = src/autoware_ai_messages
	url = https://github.com/autowarefoundation/autoware_ai_messages.git
[submodule "src/async_stream/fmi-standard"]
	path = src/async_stream/fmi-standard
	url = https://github.com/modelica/fmi-standard.git
