<launch>
  <arg name="host_name" default="localhost:50051"/>
  <arg name="cmd_host_name" default="localhost:50052"/>
  <arg name="bridge_name" default="keti"/>
  <arg name="data_path" default="$(find map)/hd_map_data/KATRI HD Map" />

  <rosparam command="load" file="$(find async_stream)/src/config/config.yaml" />
  
  <!-- <node pkg="tf" type="static_transform_publisher" name="base_link_to_ins_broadcaster" args="0 0 0 0 0 -0.7071068 0.7071068 base_link ins 1000"/>  
  <node pkg="tf" type="static_transform_publisher" name="ins_to_cam1_broadcaster" args="0.0093 1.591 0.803 -0.6966372 0.0047467 -0.0009361 0.7174073 ins camera1 1000"/>
  <node pkg="tf" type="static_transform_publisher" name="ins_to_cam3_broadcaster" args="0.0093 1.3523 1.0051 -0.694658 0.0138577 -0.016661 0.7190137 ins camera3 1000"/> -->
  
  <node pkg="async_stream" type="async_streaming_server_lidar" name="async_streaming_server_lidar" output="screen" args="$(arg host_name) $(arg cmd_host_name) $(arg bridge_name)"/>
    <param name="data_path" value="$(arg data_path)"/>
    <param name="bridge_name" value="$(arg bridge_name)"/>
</launch>

