<launch>
  <arg name="host_name" default="localhost:50051"/>
  <arg name="cmd_host_name" default="localhost:50052"/>
  <arg name="bridge_name" default="keti"/>

  <rosparam command="load" file="$(find async_stream)/src/config/param_set.yaml" />
  
  <node pkg="async_stream" type="osi_bridge_main" name="osi_bridge_main" output="screen" args="$(arg host_name) $(arg cmd_host_name) $(arg bridge_name)"/>
    
  <node pkg="async_stream" type="async_streaming_server_lidar" name="async_streaming_server_lidar" output="screen" args="$(arg host_name) $(arg cmd_host_name) $(arg bridge_name)"/>
</launch>